.header {
  @apply w-full bg-secondary;

  &__container {
    @apply mx-0 flex w-full items-center justify-between px-6 py-3;
  }

  &__brand {
    @apply flex items-center gap-3 text-white font-semibold;

    img {
      @apply h-8 w-8;
    }

    span {
      @apply text-lg;
    }
  }
}
